@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');ü,

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black:#111;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--black);
}

/**************************** web menu ************************* */
.web__menu , .web__menu ul , .web__menu ul li{
    height: 100%;
}

.web__menu ul li {
     display: flex;
     align-items: center;
     justify-content: center;
}

.web__menu ul li a {
    text-decoration: none;
    padding: 40px 0;
    font-weight: 600;
    color: var(--black);
}

.web__menu ul li a img {
    width: 150px;
}

.web__menu ul li:hover a {
    text-decoration:line-through;
}

.mobil__menu {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger__bar{
    border: 1px solid red;
}

.hamburger__bar span {
    display: block;
    background-color: var(--black);
    width: 20px;
    height: 2px;
    margin-bottom: 5px;
}

.hamburger__bar span:first-child {
  
    margin-right:0 px;
}

.hamburger__bar span:nth-child(2)  {
    border: 1px solid red;
    margin-right: 15px;
}




@media screen and (max-width:768px) {
    .web__menu {
        display: none;
    }
   
}