@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #111;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: var(--black);
}

/**************************** web menu ************************* */
.web__menu,
.web__menu ul,
.web__menu ul li {
  height: 100%;
}

.web__menu ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.web__menu ul li a {
  text-decoration: none;
  padding: 40px 0;
  font-weight: 600;
  color: var(--black);
}

.web__menu ul li a img {
  width: 150px;
}

.web__menu ul li:hover a {
  text-decoration: line-through;
}

/* hamburger menu  */

.mobil__logo {
  width: 50px;
  height: 50px;
}

.mobil__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mobile_menu {
  display: none;
}

.hamburger {
  display: block;
}

.hamburger {
  position: relative;
  width: 25px;
  height: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}
.hamburger:before {
  right: 0px;
}
.hamburger .bar {
  right: 10px;
  top: 1px;
}
.hamburger .bar,
.hamburger:before {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background: black;
  margin: 4px 0;
  transition: 0.4s;
  position: relative;
  z-index: 255;
}

.hamburger.is-active:before {
  transform: rotate(45deg) translateX(6px) translateY(7px);
}
.hamburger.is-active .bar {
  transform: rotate(-45deg) translateX(6px) translateY(7px);
}

.mobile__nav {
  position: fixed;
  top: 100%;
  width: 100%;
  display: block;
  z-index: 250;
  background: white;
  transition: 0.4s;
  border-top: 1px solid var(--black);
  padding-top: 40px;
}

.mobile__nav.is-active {
  top: 70px;
  left: 0;
  overflow: hidden;
}

.mobile__nav ul {
  margin: 0;
  padding: 0;
}

.mobile__nav ul li a {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.mobile__nav ul li a i {
  color: #989898;
}

.mobile__nav a {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  padding: 5px 25px;
  color: black;
  font-weight: 500;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .web__menu {
    display: none;
  }
  .hamburger__menu {
    display: block;
  }
  .mobile_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
}

/******************* HEADER SLIDER (begin) ***********************************/

.header-slider__item {
  position: relative;
  cursor: pointer;
}
.header-slider__img {
  overflow: hidden;
  transition: all 0.3s;
}
.header-slider__img:hover,
.header-slider__item::after {
  transform: scale(1.01);
}
.header-slider__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.8) 0,
    rgba(255, 255, 255, 0) 100%
  );
  width: 100%;
  height: 30%;
}

.header-slider__title {
  position: absolute;
  left: 25px;
  bottom: 7px;
  z-index: 100;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  font-size: 45px;
  line-height: 43px;
  transition: left 0.5s;
}
.header-slider__item:hover .header-slider__title {
  left: 40px;
}
@media screen and (min-width: 1681px) {
  .header-slider__item {
    height: 700px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
}

/******************* HEADER SLIDER (end) ***********************************/

.ticket__bg {
  background-image: url("https://pelicula.qodeinteractive.com/wp-content/uploads/2020/03/home-2-img-2-1536x530.jpg");
  padding: 150px 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.ticket__btn {
  border: none;
  outline: none;
  font-weight: 500;
  background: white;
  border: 1px solid white;
  position: relative;

}

.ticket__btn::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  content: "";
  left: 0;
  bottom: 0px;
  z-index:-1;
}

.ticket__btn:hover {
  background: transparent;
  color: white;
  z-index: 54;
}


.ticket__btn:hover::before {
  height: 0;
  transition: 500ms height;
}

.detail__btn {
  border:2px solid black;
  color: black;
  font-weight: 600;
 margin:auto;
  background: transparent;
  margin-bottom: 20px;
}